rst_out = "wheatstone.txt"
rst_skeleton = "skeleton"
crumb = "wheatstone.box"
description = "A simple electric circuit"
figure_caption = "the output produced by Box"
box_source = "../../../box/examples/wheatstone.box"
out_eps = "wheatstone.eps"
convert_opts = "-density 100 -antialias -size 300"

