rst_out = "cycloid.rst"
rst_skeleton = "skeleton"
crumb = "cycloid.box"
description = "Combined use of For, Line and Poly"
figure_caption = "the output produced by Box"
box_source = "./cycloid.box"
out_eps = "cycloid.eps"
convert_opts = "-density 200 -antialias"

