rst_out = "snake.rst"
rst_skeleton = "skeleton"
crumb = "snake.box"
description = "An example showing how to use the Line command"
figure_caption = ""
box_source = "../../../../../box/examples/snake.box"
out_eps = "snake.eps"
convert_opts = "-density 50 -antialias"

