rst_out = "cairo_gradient.rst"
rst_skeleton = "skeleton"
crumb = "cairo_gradient.box"
description = "Linear and radial gradients"
figure_caption = "the output produced by Box"
box_source = "./cairo_gradient.box"
out_png = "cairo_gradient.png"
