rst_out = "translucency.rst"
rst_skeleton = "skeleton"
crumb = "translucency.box"
description = "Translucent colors through Cairo"
figure_caption = \
  ("It is highly recommended to compile Box with Cairo support. "
   "You'll then be able to use translucent colors, color gradients and "
   "many others useful features.")
box_source = "./translucency.box"
out_png = "translucency.png"

