rst_out = "yin-yang.rst"
rst_skeleton = "skeleton"
crumb = "yin-yang.box"
description = "Yin-yang"
figure_caption = \
  ("You can round the borders of a polygons to the point that they become "
   "arcs of circles or ellipses.")
box_source = "./yin-yang.box"
out_png = "yin-yang.png"

